<% layout('layout') -%>
<div data-role="content" data-theme="c">
  <h2><%= title %></h2>
  <%  
    photoTree.forEach(function(element) { 
      if (element.isDirectory && element.children.length) {    
  -%>
  <div data-role="collapsible" data-theme="a" data-content-theme="b">
    <h3><%= path.basename(element.path) %></h3>
    <ul data-role="listview">
      <% element.children.forEach(function(element) { -%> 
        <li>
          <a href="/showAlbum?path=<%= encodeURIComponent(path.relative('public' , element.children[0].path)) %>">
            <img src="<%= path.relative('public' , element.children[0].path) %>"/>
            <h3><%= path.basename(element.path) %></h3>
            <p>view this</p>
          </a>
        </li>
      <% }) -%>
    </ul> 
  </div>
  <% 
      }
    });
  -%>
</div>

<!-- [ { path: './public/images/photos/.DS_Store' },
  { path: './public/images/photos/Portraits',
    children: [],
    isDirectory: true },
  { path: './public/images/photos/Dänemark',
    children: [ [Object], [Object], [Object] ],
    isDirectory: true } ] -->